<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Impulsa el cambio</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<header>
    <div class="header-container">
        <img src="/Imagenes/Logo.png" alt="Logo" class="logo">
        <h1 class="titulo">IMPULSA EL CAMBIO</h1>
    </div>
    <nav>
        <a href="#" class="nav-link">Inicio</a>
        <a href="#" class="nav-link">Registrarse</a>
        <a href="#" class="nav-link">Proyectos</a>
        <a href="#" class="nav-link">Sobre nosotros</a>
    </nav>
</header>
<section class="bienvenida">
    <h2 class="bienvenida-titulo">¡BIENVENIDO!</h2>
    <p class="bienvenida-texto">Únete a la iniciativa que desea ser un cambio para la ciudad.</p>
    <button class="boton">QUIERO SER VOLUNTARIO</button>
</section>
</body>
</html>